<ion-nav-view>
</ion-nav-bar>  
    <ion-pane>
      <ion-header-bar class="bar-positive custom-purple">
        <h1 class="title" id="yugih1_title">Portal de games</h1>
      </ion-header-bar> 
      <nav>
      <ion-content class = "custom-back">
      <section>
        <h1 id="yugih1"> Novo Yu-Gi-Oh! para celular! </h1> 
        <!--Colocar popup pedindo email do usuario para novas noticias (formulario)-->
        <img src="img/duellinks-1.jpg">
        <h4 id="yugih4_2">O novo jogo será lançado no dia 12 de Janeiro para Ios e Android. </h4>
        <button class="button button-assertive button-block custom-purple" id="btt"><h4 id="yugih4">Leia mais ></h4></button>
      </ion-content>
      </section>
    </nav>
    </ion-pane>
</ion-nav-bar>
</ion-view>